/* Estilos para a página de detalhes do produto */

.product-title {
    font-size: 3em; /* Tamanho da fonte aumentado para o título do produto */
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

/* Estilos para os breadcrumbs */
.breadcrumbs {
    margin-top: 25px; /* Aumenta o espaçamento superior */
    margin-bottom: 25px; /* Adiciona espaçamento inferior */
    font-size: 1.1em; /* Aumenta o tamanho da fonte */
    font-weight: 600; /* Deixa a fonte em negrito */
    color: white;
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre os itens */
}

.breadcrumbs a {
    text-decoration: none;
    color: #f97316; /* Cor azul para links */
    transition: color 0.3s ease;
}

.breadcrumbs a:hover {
    color: white; /* Cor do link ao passar o mouse */
}

.breadcrumbs .fa-chevron-right {
    font-size: 0.8em;
    color: white;
}

/* Estilos para a imagem principal do produto */
.product-main-image {
    max-width: 450px; /* Reduz a largura máxima da imagem principal */
    margin: 0 auto; /* Centraliza a imagem */
    border-radius: 8px;
    overflow: hidden;
}

.product-main-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilos para os botões de opção do produto em modo desktop */
@media (min-width: 768px) {
    .product-options .flavor-options,
    .product-options .size-select {
        max-width: 250px;
    }

    .quantity-selector {
        display: flex;
        width: 120px;
    }

    .quantity-selector .quantity-input {
        width: 40px;
        text-align: center;
    }

    .add-to-cart-btn {
        max-width: 200px; /* Reduz a largura do botão Comprar */
        flex: none; /* Remove a propriedade flex que o expande */
    }
}
